/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Sora;
	src: url("/src/assets/Sora/Sora-VariableFont_wght.ttf");
}
:root {
	font-family: Sora;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@layer base {
	body {
		font-family: Sora;
		background-color: #ffffff;
		padding: 0rem;
		margin: 0rem;
		color: #101828;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: #002a36 #ffffff;
}

.ant-result-extra {
	display: flex;
	justify-content: center;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-active::after,
.ant-menu-horizontal,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-active::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected::after {
	border-bottom-color: transparent !important;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-selected {
	background-color: #cbd8e6;
	border-radius: 6px;
	color: #344054;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-active {
	background-color: #cbd8e6 !important;
	border-radius: 6px;
	color: #1f2329 !important;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu {
	border-radius: 6px;
	margin: 0 2px;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu .ant-menu-item-group .ant-menu-item-group-list {
	padding: 0 4px;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item {
	margin: 2px 0;
	-webkit-tap-highlight-color: transparent;
}
.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
	margin: 2px auto;
	width: calc(100% - 4px);
	-webkit-tap-highlight-color: transparent;
}
